<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fa-ric-int-prd-common-pgp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ad8b531e-19f6-4ae0-9ceb-76f55e063139/resourceGroups/RIC_IntegrationsRG/providers/Microsoft.Web/sites/fa-ric-int-prd-common-pgp</ResourceId>
    <UserName>$fa-ric-int-prd-common-pgp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fa-ric-int-prd-common-pgp.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netstandard2.0</TargetFramework>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>